.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 100px;
    height:100px;
    background-color: #eee;
    cursor: pointer;
}

.card:hover {
    box-shadow: inset 0px 0px 0px 1px black;
    box-sizing: border-box;
}

.red {
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.violet {
    background-color: violet;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.brown {
    background-color: lightsalmon;
}

.color-hide{
    background-color: #eee;
}