
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

.teko {
  font-family: 'Teko', sans-serif;
}

* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
  }

  body {
    height: 100vh;
    display: flex;
    background: #060AB2;
  }


  /* Heading and Text Styles*/
  .text-style {
    color: #e0ded0;
    font-family: Peralta, Roboto, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

  .text-header {
    color: #e0ded0;
    font-family: Peralta, Roboto, sans-serif;
    font-size: 35px;
    text-align: center;
    margin: auto;
}

  .wrapper {
    margin:auto;
  }

  .text-wrapper{
    padding: 11px;
  }

/* Card Grid styling */

  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  

  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }

  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }

  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }

  .front-face {
    transform: rotateY(180deg);
  }

/* Score, Moves and Reset Button */

  .score_moves_wrap {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .score_moves_wrap {
        padding: 10px;
    }
}

#reset {
    background-color: #2426b3;
    color: #eaeaee;
    border-radius: 4px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#reset-container {
    position: relative;
    text-align: center;
    display: block;
}